In [3]:
import pandas as pd
df = pd.read_csv('adult.data',names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. Число столбцов в наборе данных

In [7]:
print('Ответ:',len(df.columns))

Ответ: 15

2. Есть ли пропуски в данных? Если есть, то в каких столбцах

In [68]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [72]:
df.isin([' ?']).sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

Ответ: пропуски в стобцах workclass,occupation,native-country

3. Кол-во уникальных значений в столбце race

In [39]:
print('Ответ: ',len(df['race'].unique()))

Ответ:  5

4. Медиана hours-per-week

In [40]:
print('Ответ:' , df['hours-per-week']. median ())

Ответ: 40.0

5. Кого больше - женщин или мужчин с ЗП >50K?

In [41]:
income_50k = df['income'] == ' >50K'
men = df[income_50k]['sex'].value_counts()[' Male']
women = df[income_50k]['sex'].value_counts()[' Female']


if men > women:
    print('Ответ: Больше мужчин')
elif women > men:
    print('Ответ: Больше женщин')
else:
    print('Ответ: поровну')

Ответ: Больше мужчин

6. Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

In [82]:
df['workclass'] = df['workclass'].replace(' ?', pd.NA)
df['occupation'] = df['occupation'].replace(' ?', pd.NA)
df['native-country'] = df['native-country'].replace(' ?', pd.NA)
df.fillna({'workclass': df['workclass'].mode()[0]}, inplace=True)
df.fillna({'occupation': df['occupation'].mode()[0]}, inplace=True)
df.fillna({'native-country': df['native-country'].mode()[0]}, inplace=True)
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

помимо наиболее часто встречающегося значения, есть и другие методы, которые можно использовать:

* Среднее значение (.mean()):  Идеально подходит для числовых колонок.
* Медиана (.median()):  Устойчива к выбросам, лучше подходит, если у вас есть аномальные значения.
* (ffill):  Заполняет пропуски предыдущим значением.
* (bfill):  Заполняет пропуски следующим значением.
* Константное значение:  Заполняет пропуски заданным значением.
* Прогнозирование:  Если у вас есть временные ряды, можно использовать модели машинного обучения для прогнозирования пропущенных значений.